body {
  background-image: url(./images/fondo-videojuegos.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

.container {
 max-width: 400px;
 margin: auto;
 background-color: rgba(0, 0, 0, 0.7);
 border: 2px solid #00f7ff;
 padding: 20px;
 border-radius: 10px;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
/*************** Sección Productos ****************/
h1, h2 {
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: auto;
  width: 50px;
}

hr {
  height: 2px;
  background-color: #3f0f3d;
  border-color:#3f0f3d;
}

.price, .name{
  font-weight: bold;
}

/********************* Footer *****************/

footer {
  text-align: center;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

